.container {
    perspective: 1500px;
}

.page {
    background-image: url('../images/background.jpg');
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 2s;
}

.page.right {
    transform-origin: left;
}

.page.right.turn {
    transform: rotateY(-45deg);


}