*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
img{
    height: 100%;
    width: 60%
}

html{
    font-size: 100%;
    color: #404547;
    background-image: url(../images/background.jpg);
}

.everything{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

main{
    text-align: center;
    width: 100%;
}

.title{
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.containRight{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 5%;
    border-left: solid 1px rgba(0,0,0,.4);
    background: linear-gradient(to right, rgba(70,50,20,.5) 0%, rgba(0,0,0,0) 30%);
    padding: 1rem;
}

.containLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding-right: 5%;
    border-right: solid 1px rgba(0,0,0,.7);
    background: linear-gradient(to left, rgba(70,50,20,.4) 0%, rgba(0,0,0,0) 30%);
    padding: 1rem;
}

.forms{

}

form{
    display: flex;
    flex-flow: row wrap;
}

form>*{
    width: 50%;
}

#index{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: 1.25rem;
    font-weight: 2.5;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
}

#index div.link:hover {
    font-weight: bold;
    cursor: pointer;
}

#pic{
    position: relative;
    width: 100%;
    height: 55vh;
    padding-top: 5vh;
    text-align: center;
}

#pic img{
  width: 70%;
  margin: 0 15%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

#pic img.display {
  opacity: 1;
}

.welcome{
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

#displayMsg{
    display: flex;
    flex-direction: column;
	width: 75%;
    margin: 1rem 15%;
    height: 40%;
	text-align: left;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    line-height: 1.5;
    font-size: 1.1rem;
}

.cinzel{
    font-family: 'Cinzel Decorative', cursive, sans-serif;
}

.vollkorn{
    font-family: 'Vollkorn', serif;
}

input {
    font-size: 1.1rem;
}

input[type=text]{
    border: 3px solid rgba(0,0,0,0);
    border-bottom: 2px solid #404547;
    background-color: rgba(0,0,0,0);
    font-family: 'Vollkorn', serif;
    padding: 10px;
    color: #404547;
}

input[type=text]:focus {
    background: linear-gradient(rgba(0,0,0,0) 60%, rgba(10,200,250,.5) 100%);
    outline: none;
    border-top: solid 3px transparent;
    /*border: 3px solid #404547;*/
}

input[type=date]{
    border: 3px solid rgba(0,0,0,0);
    border-bottom: 2px solid #404547;
    background-color: rgba(0,0,0,0);
    font-family: 'Vollkorn', serif;
    padding: 10px;
}

input[type=date]:focus {
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(10,200,250,.5) 100%);
    outline: none;
    border-top: solid 3px transparent;
    /*border: 3px solid #404547;*/
}

input[type=submit] {
    font-size: 1.3rem;
    padding: .5rem 2rem;
    background-color: rgba(0,0,0,0);
    border: 3px solid rgba(0,0,0,0);
    font-family: 'Vollkorn', serif;
}

input[type=submit]:hover {
    background: radial-gradient(rgba(10,200,250,.5) 20%, rgba(0,0,0,0) 80%);
    /*border: 3px solid #404547;*/
}


#pageNumber {
    position: fixed;
    bottom: 1.5rem;
    right: 2.5rem;
}

@media screen and (min-height: 40rem) {

        
}